:root{
    --Text:#000;
    --Especial: rgb(33, 172, 114);;
}
body {
    font-family: 'Poppins';font-size: 18px;
    background-color: var(--Text);
}

.Log{
    display: flex;
    padding: auto;
    align-items: center;
    border-radius: 10px 10px;
    justify-content: center;
    width: 100%;
    height: 1000px;
    margin-top: -100px;
}
.caja{
    padding: 0;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    height: 500px;
justify-content: center;
}
.act{
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: #000 ;
    padding-bottom: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #166e16;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-17:hover {
    background: #F6F9FE;
    color:var(--Especial);
  }
  
  .button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-17:focus {
    outline: none;
    border: 2px solid #48f442;
  }
  
  .button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
.correo{
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
}
input{
    width: 303px;
}
header{
    transition: 0.7s;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    min-height: 70px;
    width: 100%;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
    z-index: 10;
}

.yo{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
    transition: .2s;

}
nav{
    padding: 0px 30px;
}
a:hover{
    color: var(--Especial);
    position: relative;
    bottom:2px ;
}
nav a{
    padding: 0px 10px;
}
.midText{
    color: #fff;
    display: inline;
    font-weight: 400;
    font-size: 2.2rem;
}
.case{
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #166e16;
    
    outline: none;
}
.Hall{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 100%;
    background-image: url(Inicio.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    
}
.span{

}
.Hall2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.canciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.tarjetas{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.portadas{
    width: 150px;
    width: 150px;
}

h1{
    font-weight: 500;
}
header.bajar{
    background-color: #000;
    padding: 15px 20px;
}
.soy{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding: 0px 40px;
}
.soy2{
    margin-left: 20px;
}
footer{
    margin-top: 20vh;
    background-color:var(--Especial);
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
}
footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}
.indicadores{
    font-size: 1.3rem;
}
footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation:animateWave 6s linear infinite ;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 15px;
    animation:animateWave_02 6s linear infinite ;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 0;
    animation:animateWave 4s linear infinite ;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.5;
    bottom: 20px;
    animation:animateWave_02 4s linear infinite ;
}
.footer1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.footer2{
    width: 100%;
    flex-direction: row;
}
.social_icon{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
ul{
    list-style: none;
    padding: 0px;
}
i{
    font-size: 2rem;
    margin: 0 10px;
}
::-webkit-scrollbar{
    display: none;
}
.span{
    color: rgb(33, 172, 114);
}
@media (max-width:780px){
    header{
        flex-direction: column;
        margin-left: 0px;
        padding-left: 0px;
    }
    header.bajar{
        padding-left: 0px;
    }
    nav{
        padding-bottom: 15px;
    }
    .Hall{
        background-position:center;
    }
    .caja{
        width: 100%;
    }
    .yo{
        width: auto;
        height: auto;
    }
    .canciones{
        flex-direction: column;
        
    }
    .tarjetas{
        margin: 10px 0px;
        flex-direction: row;
    }
    .portadas{
        padding-right:20px ;
        width: auto;
        width: auto;
    }
    .case{
        width: auto;
    }

}
@media (max-width:1230px){
    .yo{
        width: auto;
        height: 1000px;
    }
    .soy{
        flex-direction: column;
    }
    .portadas{
        width: 125px;
        width: 125px;
    }
}

@keyframes animateWave{
    0%{
        background-position-x:1000px;
    }
    100%{
        background-position-x:0px ;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:1000px ;
    }
}
.logo{
    color: #fff;
    font-family: 'League Spartan';
    font-weight: 600;
    letter-spacing: 1.5px;

}
